.navstyle {
  font-size: 40px;
}

.countiner {
  justify-items: center;
  align-items: center;
}

.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 30%;
  height: 200px;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form input {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: #343434;
}

.form button {
  height: 38px;
  margin: 4px;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
}

.formgroup {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}