.navstyle {
  font-size: 40px;
  margin-bottom: 20px;
}

.countiner {
  justify-items: center;
  align-items: center;
}

.footer {
 
  width: 100%;
  height: 100%;
  background-color: #201c1c;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}

.footertextdiv {

  position: fixed;
  left: 40%;
  transform: translateX(-46%);
  bottom: 60px;
  width: 70%;
  height: 200px;
  background-color: #272727;
  overflow-y: scroll;
 

  padding-bottom: 15px;

  
}
 .footerContainer {
  
  height: 100% ;
  
  box-sizing: border-box;
}
.message {
  color: white;
}
.absolutefooter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.griditem {
  grid-row: 1;
  height: 100%;
  width: 100%;
}
.footerdiv {
  margin: 0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form input {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: #343434;
}

.form button {
  height: 38px;
  margin: 4px;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
}

.formgroup {
  width: 71%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.full-width {
  width: 100%;
}