.navstyle {
  font-size: 20px;
  height: 100%;
  text-align: center;
}

.countiner {
  justify-items: center;
  align-items: center;
}

.footer {
 
  width: 100%;
  height: 100%;
  background-color: #201c1c;
  
 
}

.footertextdiv {

  
  
  width: 100%;
  height: 85%;
  background-color: #272727;
  overflow-y: scroll;
 

  

  
}

.sendingdiv {

  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
 


}
 .footerContainer {
  
  height: 100% ;
  
  box-sizing: border-box;
}
.message {
  color: white;
}
.absolutefooter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.griditem {
  grid-row: 1;
  height: 100%;
  width: 100%;
}
.footerdiv {
  margin: 0;
}
.form {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input {
 
}

.form button {
  height: 38px;
  margin: 4px;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
}

.formgroup {
  width: 71%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.full-width {
  width: 100%;
}